<div class="container-fluid fs-6">
	<footer class="row py-3 my-4 border-top">
		<p class="col-12 col-md-4 mb-3 mb-md-0 text-primary text-center text-md-start">© 2024 Tüm Hakları Saklıdır.</p>

		<a
			href="/"
			class="col-12 col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 text-decoration-none"
		>
			<img src="/img/cashmate-logo.svg" alt="logo" width="150" />
		</a>

		<ul class="nav col-12 col-md-4 justify-content-center justify-content-md-end">
			<li>Google sevgisi ile kodlanmıştır.</li>
		</ul>
	</footer>
</div>
