<div class="container-fluid">
	<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
		<a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none">
			<img src="/img/cashmate-logo.svg" alt="logo" width="200" />
		</a>

		<form
			class="col-md-4 d-flex align-items-center justify-content-center form-inline my-2 my-lg-0"
			role="search"
			method="POST"
			action="/dashboard/search"
		>
			<input type="search" class="form-control me-2 border-success" placeholder="Ara..." aria-label="Search" />
			<button type="submit" class="btn btn-dark">Ara</button>
		</form>

		<div class="col-md-3 text-end">
			<a href="/logout" type="button" class="btn btn-outline-dark">Çıkış Yap</a>
		</div>
	</header>
</div>
