<div class="container-fluid">
	<header class="navbar navbar-expand-lg py-3 mb-4 border-bottom">
		<a href="/" class="navbar-brand">
			<img src="/img/cashmate-logo.svg" alt="logo" width="200" />
		</a>

		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<nav class="navbar-nav me-auto mb-2 mb-lg-0">
				<a href="/dashboard" class="nav-link">Panel</a>
				<a href="/dashboard/incomes" class="nav-link">Gelirlerim</a>
				<a href="/dashboard/expenses" class="nav-link">Giderlerim</a>
				<a href="/dashboard/analytics" class="nav-link">Analizler</a>
			</nav>
			<form class="d-flex" role="search" method="POST" action="/dashboard/search">
				<input type="search" class="form-control me-2" placeholder="Ara..." aria-label="Search" />
				<button type="submit" class="btn btn-outline-dark">Ara</button>
			</form>
			<a href="/logout" class="btn btn-outline-dark ms-3">Çıkış Yap</a>
		</div>
	</header>
</div>
