:root {
	--bs-primary-rgb: #000000;
}

body {
	font-family: 'Poppins', sans-serif;
	color: var(--bs-primary-rgb);
	font-weight: 300;
	font-size: 1.2rem;
}

.container-fluid-custom {
	max-width: 1600px;
}

/* .home {
} */

.border-danger {
	border: 1px solid #dc3545;
}

.border-success {
	border: 1px solid #28a745;
}

.transaction-card {
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.transaction-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 992px) {
	/* lg breakpoint için */
	.custom-nav {
		justify-content: center; /* Büyük ekranlarda menü öğeleri merkeze */
	}
}
@media (max-width: 991px) {
	/* md breakpoint'ten küçük ekranlar için */
	.custom-nav {
		justify-content: flex-start; /* Mobilde menü öğeleri sola */
	}
}

/* anasayfa kartları için özel stiller */
.custom-card {
	height: 350px; /* Mobil cihazlar için yükseklik */
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.custom-card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

/* Masaüstü cihazlar için medya sorgusu */
@media (min-width: 768px) {
	.custom-card {
		height: 250px; /* Masaüstü cihazlar için yükseklik */
	}
}
