:root {
	--bs-primary-rgb: #000000;
}

body {
	font-family: 'Poppins', sans-serif;
	color: var(--bs-primary-rgb);
	font-weight: 300;
	font-size: 1.2rem;
}

.container-fluid-custom {
	max-width: 1600px;
}

.home {
}

.border-danger {
	border: 1px solid #dc3545;
}

.border-success {
	border: 1px solid #28a745;
}

.transaction-card {
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.transaction-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
